@import "../../theme";

@mixin _mobileFill($color) {
  @media #{$mobile} {
    fill: $color;
  }
}

.root {
  background-color: $dna-white;
  @media #{$mobile} {
    background-color: $dna-blue;
  }
}

.invert {
  background-color: $dna-blue;
}

.logoText {
  fill: $dna-black;
  @include _mobileFill($dna-white);
}

.logoIcon {
  fill: $dna-blue;
  @include _mobileFill($dna-white);
}

.invertedLogoText {
  fill: $dna-white;
}

.invertedLogoIcon {
  fill: $dna-white;
}

