<!-- contact.html layout -->
<{* This is a custom layout file for the contact page. *}>

<section>
    <h1>
        Contact Us
    </h1>
    <div class="rte">
        <{$page->getContent()}>
    </div>
</section>
