@import "../../theme";

@mixin activeFocusReset() {
  .input:not([readonly]):not([disabled]):focus + .label &,
  .input:not([readonly]):not([disabled]):active + .label & {
    outline: none;
    border-color: transparent;
    @include focus();
  }
}

.root {
  display: inline-block;
}

.input {
  opacity: 0;
  position: absolute;
}

.label {
  display: block;

  :checked + & {
    font-weight: $dna-bold;
  }
}

.standard {
  @include touchableText($standard-type-scale-mobile);
  cursor: pointer;
  display: flex;
  align-items: center;
  @media #{$desktop} {
    @include touchableText($standard-type-scale);
  }
}

.checkBox {
  @include activeFocusReset();

  background-color: $dna-white;
  width: $grid-row-height * 3;
  height: $grid-row-height * 3;
  border: $field-border-width solid $dna-mid-gray-light;
  border-radius: $field-border-radius;
  margin-right: $field-gutter-width;
  padding: $field-border-radius;
  fill: $dna-pink;
}

.checkMark {
  display: block;
  width: 100%;
  height: 100%;
  fill: $dna-form-accent;
  opacity: 0;

  .input:checked + .label & {
    opacity: 1;
  }
}

.button {
  @include activeFocusReset();
  @include touchableText($standard-type-scale-mobile);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dna-gray-light;
  color: $dna-charcoal;
  border: 1px solid $dna-mid-gray-light;
  border-radius: 2px;
  cursor: pointer;
  @media #{$desktop} {
    @include touchableText($standard-type-scale);
  }

  .input:checked + .label & {
    font-weight: $dna-bold;
    background-color: $dna-white;
    border-bottom: 1px solid $dna-pink;
  }
}
