@import "../../../theme";

.root {
  margin-bottom: ($grid-row-height * 3);
  @media #{$mobile} {
    margin-bottom: ($grid-row-height * 4);
  }
  &.noMarginBottom {
    margin-bottom: 0;
  }
}

.messageIcon {
  position: relative;
  top: 2px;
  margin-right: 4px;
}

.messageIconSvg {
  width: 14px;
  height: 14px;
}
