h1 {
  @extend %reset-margin;
  @extend %reset-font-size;
}

h2 {
  @extend %reset-margin;
  @extend %reset-font-size;
}

h3 {
  @extend %reset-margin;
  @extend %reset-font-size;
}

h4 {
  @extend %reset-margin;
  @extend %reset-font-size;
}

h5 {
  @extend %reset-margin;
  @extend %reset-font-size;
}

h6 {
  @extend %reset-margin;
  @extend %reset-font-size;
}
