/*
*
*  Global Border-Box Override
*
*  Unnecessary if Bourbon/Neat already being loaded.
*
*  * {
*    @include box-sizing(border-box);
*  }
*
*/

html {
  font-size: 15px;
}

body {
  @extend %reset-margin;
  width:100%;
}
