@import "../../theme";

.root {
  background: $dna-white;
  margin-bottom: ($grid-row-height * 2);
  .group & {
    margin-bottom: 0;
    box-shadow: inset 0 -1px 0 0 $dna-gray-medium;
    &:last-child {
      box-shadow: none;
    }
  }
}

.transparent {
  background: none;
}
