<link rel="stylesheet" type="text/css" href="/css/rater.css" media="screen" />
<script src="/js/jquery.rater.js" language="JavaScript"></script>
<script type="text/javascript">
function popup_ecard(pkid){
        
        
	$('#basicModalContent').modal();
}
function send_ecard(){
var email=document.getElementById('email').value;
var pkid=document.getElementById('pkid').value;
window.location.href='http://<{$smarty.session.centre_host}>/index.php?action=presskits&form_name=send_ecard&pkid='+pkid+'&send_email='+email;

}

</script>



<style type="text/css">
#simplemodal-overlay {background-color:#000; cursor:wait;}
.simplemodal-wrap{overflow:auto;}
</style>
<div id="basicModalContent" style='display:none'>
         <p align="center" id="get_email_address">
	<form name=email method=get>
	<table>
	<tr  align=center>
			<td colspan="2" align="center"><h3>Send this Album URL as e-Card</h3></td>
	</tr>
	<tr  align=center>
			<td>Email:</td><td><input class= contact_txt_field type=text id="email" name=email></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:center">
			<input type=hidden name=pkid id="pkid" value='+pkid+'>
			<a  class=butt_submit onclick="return send_ecard();"></a>
		</td>
	</tr>
	</table>
	</form>
	</p>
         <p align="center" id="email_submit"></p>
</div>
<div class="pressTab">
	<div id="tabs">
		<ul>
		<{section name=itype loop=$itemtype}>
			<li><a href="#tabs-<{$itemtype[itype].itid}>"><{$itemtype[itype].name}></a><span></span></li>
		<{/section}>
		</ul>
		<{foreach from=$itemtype item=itype name=itemtype}>
			<div id="tabs-<{$itype.itid}>">
				
				<{show_block module="presskits"
				block="presskititembytype"
				pkid="`$smarty.get.pkid`"
				presskit_itid="`$itype.itid`"
				template_name="presskititembytype"}>
				
			</div>
		<{/foreach}>
		
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
$('<{section name=itype loop=$itemtype}>#mycarousel-<{$itemtype[itype].itid}>, <{/section}>').jcarousel();
//Initiating the tab
$('#tabs').tabs();
});
</script>

