<{*<div class="">
<table align="left">
<tr>
  <td>
  <form action="<{$filename}>" method="GET">
    <input type="hidden" name="action" value="imagegallery" />
    <input type="hidden" name="form_name" value="search" />

    <input type="text" name="searchline" onfocus="if(this.value=='[search images]'){this.value=''};" value="<{if $searchstring eq ""}>[search images]<{else}><{$searchline}><{/if}>" onClick="" />
	select name="searchtype"></select>
	<select name="options"></select
	<input type="submit" name="do_search" value="Search" />
	
	<{show_block module="presskits"
	block="show_fav_tags"
	template_name="tags"
	id="search"
	divname="div_fav_tags"}>
  </form>
  </td>
</tr>
</table>
</div>*}>