<{* a id="player1" style="float: left;">
	<object id="player1_api" data="templates/flowplayer-3.swf" type="application/x-shockwave-flash" style="display:block;width:270px;height:160px">
	<param name="allowfullscreen" value="true">
	<param name="allowscriptaccess" value="always">
	<param name="quality" value="high">
	<param name="bgcolor" value="#000000">
	<param name="flashvars" value="config={&quot;clip&quot;:{&quot;baseUrl&quot;:&quot;http://alkira.corewebdna.net.au/modules/presskits/video_gallery/&quot;,&quot;subTitle&quot;:&quot;Wii&quot;,&quot;time&quot;:&quot;20 sec&quot;},&quot;
	playlist&quot;:[{&quot;url&quot;:&quot;Presskit1_1250662819_flowplayer.flv&quot;,&quot;title&quot;:&quot;Wii&quot;,&quot;baseUrl&quot;:&quot;http://alkira.corewebdna.net.au/modules/presskits/video_gallery/&quot;,&quot;subTitle&quot;:&quot;Wii&quot;,&quot;time&quot;:&quot;20 sec&quot;},{&quot;url&quot;:&quot;KimAronson-TwentySeconds59483.flv&quot;,&quot;title&quot;:&quot;Happy feet in a car&quot;,&quot;baseUrl&quot;:&quot;http://alkira.corewebdna.net.au/modules/presskits/video_gallery/&quot;,&quot;subTitle&quot;:&quot;from blib.tv video sharing site&quot;,&quot;time&quot;:&quot;20 sec&quot;},{&quot;url&quot;:&quot;Presskit1_1250662819_flowplayer.flv&quot;,&quot;title&quot;:&quot;People jogging&quot;,&quot;baseUrl&quot;:&quot;http://alkira.corewebdna.net.au/modules/presskits/video_gallery/&quot;,&quot;subTitle&quot;:&quot;from blib.tv video sharing site&quot;,&quot;time&quot;:&quot;20 sec&quot;}],&quot;plugins&quot;:{&quot;controls&quot;:{&quot;playlist&quot;:true}},&quot;playerId&quot;:&quot;player1&quot;}">
	</object>
</a *}>

<{*
Previous version
<a href="/index.php?action=presskits&form_name=view_presskit&pkid=<{$recent_video->getParentID()}>#tabs-11">
*}>



	<{foreach from=$recent_videos name=video key=k item=recent_video}>

	<{if $smarty.foreach.video.first || $smarty.foreach.video.iteration eq 4}>
    	<ul id="top_videos">
    <{/if}>    

    

	<li><span> <{$smarty.foreach.video.iteration}>.</span>  <a href="/index.php?action=presskits&form_name=view_presskit&pkid=<{$recent_video->getParentID()}>&form_action=add_list&vid=<{$recent_video->getID()}>&download=1"><{$recent_video->getCaption()}></a></li>


	<{if $smarty.foreach.video.last || $smarty.foreach.video.iteration eq 3}>
    	</ul>
    <{/if}>    
    
	<{/foreach}>

	

	
    
