<{section name=document loop=$recent_documents}>
	<div class="documentBox" id="<{$recent_documents[document]->getID()}>" style="clear:both; width:285px;">
		<p class="pdf">
			<a href="assets/presskits/gallery/<{$recent_documents[document]->getparentID()}>/document_gallery/<{$recent_documents[document]->getFilename()}>">
				<{$recent_documents[document]->getCaption()|truncate:50}>				
			</a>
		</p>
	</div>
<{sectionelse}>
There are no document items
<{/section}>
