<{if $presskitcatpath|@count eq 2 or (is_array($presskitcat->getAllSubCats()) and $presskitcat->getAllSubCats()|@count gt 0)}>
	<{assign var="pcats" value=$presskitcat->getAllSubCats()}>
	<{section name=presskit loop=$pcats}>
		<div class="sports">
			<h2><{$pcats[presskit]->getName()}></h2>
			<{if $pcats[presskit]->getImage() neq ""}>
				<a class="press_image_link" style="background-image: url('/assets/presskits/web_images/presskit_category/m_<{$pcats[presskit]->getImage()}>');"
				<{if $pcats[presskit]->getId() eq "13" or $pcats[presskit]->getId() eq "64" or $pcats[presskit]->getId() eq "22"}>
					href="?action=presskits&form_name=presskits&pkcat=<{$pcats[presskit]->getId()}>">
				<{else}>
					href="?action=presskits&form_name=presskits&pkcat=<{$pcats[presskit]->getId()}>&order=name">
				<{/if}>
				&nbsp;</a>
			<{else}>
				<a class="press_image_link" style="background-image: url('template_images/no_cover.gif');" href="?action=presskits&form_name=presskits&pkcat=<{$pcats[presskit]->getId()}>">&nbsp;</a>
			<{/if}>
			<p class="bottdetails"><span class="date">Last Updated: <{if $pcats[presskit]->getUpdateTime() neq 0}><{$pcats[presskit]->getUpdateTime()|date_format}><{else}><{/if}></span></p>
		</div>
	<{/section}>
<{else}>
	<{if $smarty.get.view eq max}>
		<{section name=presskit loop=$latest_presskits}>
			<div class="sports">
				<h2><{$latest_presskits[presskit]->getName()}></h2>
				<div class="buttons1" id="buttons">
					<a href="#"><img width="15" height="13" alt="Edit" src="/template_images/edit.gif"/></a>
					<a href="#"><img width="15" height="13" alt="Delete" src="/template_images/delete.gif"/></a>
				</div>
				<{if $latest_presskits[presskit]->getImage() neq ""}>
					<a class="press_image_link" style="background-image: url('/assets/presskits/web_images/m_<{$latest_presskits[presskit]->getImage()}>');" href="?action=presskits&form_name=view_presskit&pkid=<{$latest_presskits[presskit]->getId()}>&pkcat=<{$presskitcat->getID()}>">&nbsp;</a>
				<{else}>
					<a class="press_image_link" style="background-image: url('template_images/no_cover.gif');" href="?action=presskits&form_name=view_presskit&pkid=<{$latest_presskits[presskit]->getId()}>&pkcat=<{$presskitcat->getID()}>">&nbsp;</a>
				<{/if}>
				<p class="bottdetails"><a class="down" href="<{$formname}>?action=presskits&form_name=presskit_zip&pkid=<{$latest_presskits[presskit]->getID()}>&pkcat=<{$presskitcat->getID()}>">Download Full Album</a>
				<span class="date">Last Updated:<{if $latest_presskits[presskit]->getUpdatedTime() neq 0}><{$latest_presskits[presskit]->getUpdatedTime()|date_format}><{else}><{/if}></span>
				<span>Images:<{$latest_presskits[presskit]->getNumberOfImages()}> | Videos: <{$latest_presskits[presskit]->getNoOfVideos()}> | Pdfs:<{$latest_presskits[presskit]->getNoOfDocuments()}></span></p>
			</div>
		<{sectionelse}>
  			<div class="largeBoxWrap">
				<p class="largebox_header"/></p>
				<div class="largebox_content">
					<div id="slider1" class="csw">
						<div class="panelContainer">
							<div class="panel" title=" ">
								<h2  style="padding: 25px;">No Albums Found!3444</h2>
							</div>
						</div>
					</div>
				</div>
				<p class="minifooter"/></p>
			</div>
		<{/section}>
	<{elseif $smarty.get.view eq min}>
		<div class="largeBoxWrap">	
			<p class="largebox_header"/></p>	
			<div class="largebox_content">	
				<div id="slider1" class="csw">	
					<div class="panelContainer">	
						<div class="panel" title=" ">
							<{section name=presskit loop=$latest_presskits}>
								<div class="minibox">
									<h2><{$latest_presskits[presskit]->getName()}></h2>
									<div class="buttons1" id="buttons">
										<a href="#"><img width="15" height="13" alt="Edit" src="/template_images/edit.gif"/></a>
										<a href="#"><img width="15" height="13" alt="Delete" src="/template_images/delete.gif"/></a>
									</div>
									<table width="100%" cellspacing="0" cellpadding="0" border="0">
									<tbody><tr>
										<td style="text-align:center;"><a href="?action=presskits&form_name=view_presskit&pkid=<{$latest_presskits[presskit]->getId()}>&pkcat=<{$presskitcat->getID()}>"> <img <{*width="88" height="118"*}> alt="" src="/assets/presskits/web_images/s_<{$latest_presskits[presskit]->getImage()}>"/></a></td>
									</tr></tbody>
									</table>
									<p class="minibott">
									<span class="date">Last Updated:<{if $latest_presskits[presskit]->getUpdatedTime() neq 0}><{$latest_presskits[presskit]->getUpdatedTime()|date_format}><{else}><{/if}></span>
									<span>Images:<{$latest_presskits[presskit]->getNoOfImages()}> <br/> Videos: <{$latest_presskits[presskit]->getNoOfVideos()}> <br/> Pdfs:<{$latest_presskits[presskit]->getNoOfDocuments()}></span>
									<a class="down" href="<{$formname}>?action=presskits&form_name=presskit_zip&pkid=<{$latest_presskits[presskit]->getID()}>&pkcat=<{$presskitcat->getID()}>">Download Full Album</a>
									</p>
								</div>
							<{sectionelse}>
								<div class="largeBoxWrap">						
									<div id="slider1" class="csw">						
										<div class="panelContainer">					
											<div class="panel" title=" ">				
												<h2  style="padding: 25px;">No Albums Found!222</h2>
											</div>							
										</div>							
									</div>							
								</div>							
							<{/section}>
						</div>						
					</div>						
				</div>						
			</div>						
			<p class="minifooter"/></p>						
		</div>
	<{else}>
		<{section name=presskit loop=$latest_presskits}>
			<div class="sports">
				<h2><{$latest_presskits[presskit]->getName()}></h2>
				<div class="buttons1" id="buttons">
					<a href="#"><img width="15" height="13" alt="Edit" src="/template_images/edit.gif"/></a>
					<a href="#"><img width="15" height="13" alt="Delete" src="/template_images/delete.gif"/></a>
				</div>
				<{if $latest_presskits[presskit]->getImage() neq ""}>
					<a class="press_image_link" style="background-image: url('/assets/presskits/web_images/m_<{$latest_presskits[presskit]->getImage()}>')" href="?action=presskits&form_name=view_presskit&pkid=<{$latest_presskits[presskit]->getId()}>&pkcat=<{$presskitcat->getID()}>">&nbsp;</a>
				<{else}>
					<a class="press_image_link" style="background-image: url('template_images/no_cover.gif');" href="?action=presskits&form_name=view_presskit&pkid=<{$latest_presskits[presskit]->getId()}>&pkcat=<{$presskitcat->getID()}>">&nbsp;</a>
				<{/if}>							
				<p class="bottdetails">
					<a class="down" href="<{$formname}>?action=presskits&form_name=presskit_zip&pkid=<{$latest_presskits[presskit]->getID()}>&pkcat=<{$presskitcat->getID()}>">Download Full Album</a>
					<span class="date">Last Updated: <{if $latest_presskits[presskit]->getUpdatedTime() neq 0}><{$latest_presskits[presskit]->getUpdatedTime()|date_format}><{else}><{/if}></span>
					<span>Images:<{$latest_presskits[presskit]->getNumberOfImages()}> | Videos: <{$latest_presskits[presskit]->getNoOfVideos()}> | Pdfs:<{$latest_presskits[presskit]->getNoOfDocuments()}></span>
				</p>
			</div>
		<{sectionelse}>
			<div class="largeBoxWrap">
				<p class="largebox_header"/></p>
				<div class="largebox_content">
					<div id="slider1" class="csw">
						<div class="panelContainer">
							<div class="panel" title=" ">
								<h2  style="padding: 25px;">No Albums Found!666</h2>
							</div>
						</div>
					</div>
				</div>
				<p class="minifooter"/></p>
			</div>
		<{/section}>
	<{/if}>
<{/if}>
