<div class="b_menu">
    <a href="<{$filename}>?action=presskits" title="">Presskits Gallery</a>
    <{if $presskit_presskit_id}>
        ::
        <a href="<{$filename}>?action=presskits&form_name=view_presskit&pkid=<{$presskit_presskit_id}>">
         <{$presskit_presskit_name}>
        </a>
    <{/if}>
    <{if $presskit_image_id}>
        ::
        <a href="<{$filename}>?action=presskits&form_name=view_image&pkid=<{$presskit_presskit_id}>&iid=<{$presskit_image_id}>">
        <{if $presskit_image_caption}><{$presskit_image_caption|truncate:32:"...":true}><{else}><{$presskit_image_filename|truncate:32:"...":true}><{/if}>
        </a>
    <{/if}>
    <{*if $presskit_comment_id}>::<{$presskit_comment_text|truncate:32:"...":true}><{/if*}>::
</div>