
	<{section name=document loop=$popular_documents}>
	<div class="documentBox" id="<{$popular_documents[document]->getID()}>">
	<a href="<{$filename}>?action=presskits&form_name=view_document&pkid=<{$popular_documents[document]->getParentID()}>&did=<{$popular_documents[document]->getID()}>">
	<{$popular_documents[document]->getCaption()}>
	</a>
	<div class="documentBox_label"><span><{$popular_documents[document]->getCaption()}></span></div>
	</div>
    <{/section}>