
	<{*section name=video loop=$popular_videos}>
	<div class="documentBox" id="<{$popular_videos[video]->getID()}>">
	<a href="<{$filename}>?action=presskits&form_name=view_document&pkid=<{$popular_videos[video]->getParentID()}>&did=<{$popular_videos[video]->getID()}>">
	<{$popular_videos[video]->getCaption()}>
	</a>
	<div class="documentBox_label"><span><{$popular_videos[video]->getCaption()}></span></div>
	</div>
    <{/section*}>
	
	<ol id="top_videos">
	<{foreach from=$popular_videos name=video key=k item=popular_video}>
	<li><a href="/index.php?action=presskits&form_name=view_presskit&pkid=<{$popular_video->getParentID()}>&form_action=add_list&vid=<{$popular_video->getID()}>&download=1"><{$popular_video->getCaption()}></a></li>

	<{/foreach}>
	</ol>