<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"  height="250px" width="250px" >
	  <img src="web_images/image_gallery/<{$imggal_image_filename}>"alt="<{$imggal_image_caption}>"/>
	</td>
  </tr>
  <tr>
	<td>
	  <h1><{$imggal_image_caption|stripslashes}></h1>
	</td>
  </tr>
  <tr>
	<td width="100%">
	  <div align="center">
		<b>Add new comment</b>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <form action="index.php?action=imagegallery&form_name=edit_comment&aid=<{$aid}>&iid=<{$iid}>" method="POST">
		  <input type="hidden" name="form_name" value="edit_comment">
		  <input type="hidden" name="form_action" value="add">
		  <tr>
			<td align="left" width="20%" nowrap>Comment text</td>
			<td align="left" colspan="4" width="80%">
			  <textarea name="commenttext" cols="80" rows="5" style="width:100%"><{if $session_comment_text}><{$session_comment_text}><{/if}></textarea>
			</td>
		  </tr>
		  <tr>
			<td valign="top" align="left" width="20%" nowrap>Enter code</td>
			<td align="left" colspan="4">
			  <table cellpadding="0" cellspacing="0" border="0"> 
				<tr>
				  <td style="padding-right: 7px; vertical-align: top"><input type="text" name="captcha_code" value=""></td><td><img src="index.php?action=imagegallery&form_action=show_captcha"></td>
				</tr>
			  </table>
			</td>
		  </tr>
		  <tr>
		    <td colspan="5">&nbsp;</td>
		  </tr>
		  <tr>
			<td align="center" colspan="5">
			  <input type="submit" name="add" value="Add"><br /><br />
			</td>
		  </tr>
		  </form>
		</table>
      </div>
	</td>
  </tr>
</table>