<{if $pager_pages}>
	<table width="100%">
            <form name="pages"
		 action="<{$pager_filename}>?<{$pager_querystring}>" method="POST">
            <tr>
                <td colspan="2" class='tableFooter'>
                 &nbsp;Displaying <{$pager_start+1}> to <{$pager_start+$pager_current_results}> 
		    of <{$pager_total_results}>
                    </td>
                <td colspan="3" align='right' class='tableFooter'>
                    
			<{if $pager_start-$pager_per_page lt 0}>
			<{else}>
			 <a href="<{$pager_filename}>?<{$pager_querystring}>&start=<{$pager_start-$pager_per_page}>">
			  <img src="../../../template_images/imagegal_left.gif" /></a>
			<{/if}>
		    <select class='formField' name="start" 
			    onChange="this.form.submit()">
		  <{html_options options=$pager_pages selected=$pager_page_selected}>
                  </select> of <{$pager_total_pages}>
		    <{if $pager_start ge ($pager_total_pages-1)*$pager_per_page}>
			
		    <{else}>
		    <a href="<{$pager_filename}>?<{$pager_querystring}>&start=<{$pager_start+$pager_per_page}>">
			<img src="../../../template_images/imagegal_right.gif" />
		    </a>
		    <{/if}>
                </td>
            </tr>
            <tr>
            <{if $pager_s_err neq ""}>
            <td colspan="5" id='item_err'><{$pager_s_err}></td>
            <{/if}>
                </tr>
                <!-- end table footer -->
            </form>
    </table>
<{/if}>
