<table width="600px" style="border-collapse:collapse;" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td colspan="3"><img src="/modules/presskits/templates/images/ecard-head.jpg" /></td>
	</tr>
	<tr>
		<td style="background:#f9f9f9; width:14px;" cellpadding="0" cellspacing="0"></td>
		<td style="background:#f9f9f9; width:572px;">
			<table style="border-collapse:collapse;font-size:12px; font-family:Arial, Helvetica, sans-serif;"  cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td><img src="/modules/presskits/templates/images/grey-bg-top.jpg" style="border:none;" /></td>
				</tr>
				<tr>
					<td style="background:#ededee; border-left:1px solid #cccccc; border-right:1px solid #cccccc;">
					<table style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#748493;">
					<tr>
					<td style="width:40px;">&nbsp;</td>
					<td>Custom text Custom text Custom text Custom text Custom text Custom text Custom text Custom text Custom text Custom text Custom text Custom text Custom text Custom text Custom text Custom text Custom text Custom text Custom text Custom text Custom text </td>
					<td style="width:40px;">&nbsp;</td>
					</tr>
					</table>
					
					</td>
				</tr>
				<tr>
					<td><img src="/modules/presskits/templates/images/grey-bg-bottom.jpg" style="border:none;" /></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td><img src="/modules/presskits/templates/images/grey-bg-top.jpg" style="border:none;" /></td>
				</tr>
				<tr>
					<td style="background:#ededee; border-left:1px solid #cccccc; border-right:1px solid #cccccc;" align="center">
						<a href="http://alkira.corewebdna.net.au/index.php?action=presskits&form_name=presskit_zip&pkid=<{$smarty.get.pkid}>">
							<{*<img src="/modules/presskits/templates/images/download-btn.jpg" style="border:none;" />*}>
						</a>
					</td>
				</tr>
				<tr>
					<td style="background:#ededee; border-left:1px solid #cccccc; border-right:1px solid #cccccc;">
						<table style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#748493;">
							<tr>
								<td style="width:65px;">&nbsp;</td>
								<td>
								Image<img src="pkimg" />
								</td>
								<td style="width:65px;">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td style="background:#ededee; border-left:1px solid #cccccc; border-right:1px solid #cccccc;" align="center">
						<a href="http://alkira.corewebdna.net.au/index.php?action=presskits&form_name=presskit_zip&pkid=<{$smarty.get.pkid}>">
							<img src="/modules/presskits/templates/images/download-btn.jpg" style="border:none;" />
						</a>
					</td>
				</tr>
				<tr>
					<td><img src="/modules/presskits/templates/images/grey-bg-bottom.jpg" style="border:none;" /></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
			</table>
		</td>
		<td style="background:#f9f9f9; width:14px;"></td>
	</tr>


</table>
<!--<a href="http://alkira.corewebdna.net.au/index.php?action=presskits&form_name=presskit_zip&pkid=<{$smarty.get.pkid}>">Click here to Download</a>-->