<div class="<{if isset($pageID) and isset($presskitcatpath[1])}><{if $pageID eq '5290' or $presskitcatpath[1]->getID() eq '21'}>subHeadBg2<{elseif $pageID eq '5289' or $presskitcatpath[1]->getID() eq '2'}>subHeadBg1<{else}>subHeadBg_default<{/if}><{else}>subHeadBg_default<{/if}>">
	<p class="crumb">
		<{if $presskitcatpath neq ''}>
		    <{foreach key=key name=main from=$presskitcatpath item=crumb}>
		        <{if $crumb->getID() ne ''}>
		           <a href="http://<{$smarty.session.centre_host}>/index.php<{if $crumb->getID() neq '1'}>?action=presskits&pkcat=<{$crumb->getID()}>&order=name<{/if}>" class="crum"><{$crumb->getName()}></a> &gt;
		        <{else}>
		            <{$crumb->getName()}>
		        <{/if}>
		    <{/foreach}>
		<{/if}>
	</p>
	<{if $smarty.get.form_name eq "view_presskit"}>
		<h2 style="padding:2px 20px;"><{$presskit->getName()}></h2>
	<{else}>
		<h2 style="padding:2px 20px;"><{$presskitcat->getName()}></h2>
		<{if $smarty.get.pkcat neq '4' and $smarty.get.pkcat neq '85' and $smarty.get.pkcat neq '26'}>
			<{if $presskitcatpath|@count neq 2}>
				<p class="left">
					<a href="/index.php?action=presskits&pageID=<{$pageID}>&pkcat=<{$smarty.get.pkcat}>&view=max&order=name<{if $pager_start neq 0}>&start=<{$pager_start}><{/if}>">
						<{if $smarty.get.view eq min}>
							<img alt="icon" class="icon" src="../template_images/whitesqr.jpg"/>
						<{else}>
							<img alt="icon" class="icon" src="../template_images/greysqr.jpg"/>
						<{/if}>
					</a>
					<a href="/index.php?pageID=<{$pageID}>&action=presskits&pkcat=<{$smarty.get.pkcat}>&view=min&order=name<{if $pager_start neq 0}>&start=<{$pager_start}><{/if}>">
						<{if $smarty.get.view eq min}>
							<img alt="icon" class="icon" src="../template_images/greysqr.jpg"/>
						<{else}>
							<img alt="icon" class="icon" src="../template_images/whitesqr.jpg"/>
						<{/if}>
					</a>
					<a  href="index.php?action=presskits&filter_field=presskit_name&range=09&pkcat=<{$presskitcat->getID()}>&view=<{$smarty.get.view}>" style="padding-left: 10px;">0-9</a>
					<a  href="index.php?action=presskits&filter_field=presskit_name&range=ac&pkcat=<{$presskitcat->getID()}>&view=<{$smarty.get.view}>" style="padding-left: 10px;">ABC</a>
					<a  href="index.php?action=presskits&filter_field=presskit_name&range=df&pkcat=<{$presskitcat->getID()}>&view=<{$smarty.get.view}>" style="padding-left: 10px;">DEF</a>
					<a  href="index.php?action=presskits&filter_field=presskit_name&range=gi&pkcat=<{$presskitcat->getID()}>&view=<{$smarty.get.view}>" style="padding-left: 10px;">GHI</a>
					<a  href="index.php?action=presskits&filter_field=presskit_name&range=jl&pkcat=<{$presskitcat->getID()}>&view=<{$smarty.get.view}>" style="padding-left: 10px;">JKL</a>
					<a  href="index.php?action=presskits&filter_field=presskit_name&range=mno&pkcat=<{$presskitcat->getID()}>&view=<{$smarty.get.view}>" style="padding-left: 10px;">MNO</a>
					<a  href="index.php?action=presskits&filter_field=presskit_name&range=ps&pkcat=<{$presskitcat->getID()}>&view=<{$smarty.get.view}>" style="padding-left: 10px;">PQRS</a>
					<a  href="index.php?action=presskits&filter_field=presskit_name&range=tw&pkcat=<{$presskitcat->getID()}>&view=<{$smarty.get.view}>" style="padding-left: 10px;">TUVW</a>
					<a  href="index.php?action=presskits&filter_field=presskit_name&range=xz&pkcat=<{$presskitcat->getID()}>&view=<{$smarty.get.view}>" style="padding-left: 10px;">XYZ</a>
				</p>
			<{/if}>
			<{if $pager_pages}>
				<p class="pagenumber">
					<{if $pager_start-$pager_per_page lt 0}>
					<{else}>
						<a id="prev" href="index.php?<{$pager_querystring}>&start=<{$pager_start-$pager_per_page}>">
						<img alt="Left arrow" src="../template_images/arrow_left.gif"/></a> 
					<{/if}>	
					<span>page:  <{$pager_start/$pager_per_page+1}> of <{$pager_total_pages}></span> 
					<{if $pager_start ge ($pager_total_pages-1)*$pager_per_page}>
					<{else}>	
						<a id="next" href="index.php?<{$pager_querystring}>&start=<{$pager_start+$pager_per_page}>">
						<img alt="Right arrow" src="../template_images/arrow_right.gif"/></a>
					<{/if}>	
				</p>
			<{/if}>
		<{/if}>
</div>
		<{include file="`$modules_path`/presskits/templates/latest.html"}>
	<{/if}>
	<{if $smarty.get.form_name eq "view_presskit"}>
</div>
	<{/if}>
	