<{*<p>
	Most favourite tags<br/>
	<{foreach from=$fav_tags key=k item=tag}>
		<{if $tag.status eq 1}>
		<a href="<{$filename}>?action=imagegallery&form_name=search&searchline=<{$tag.keyword}>">
		  <b style="font-size: <{$tag.size}>pt"><{$tag.keyword}></b>
		</a>
		<{/if}>
	<{/foreach}>
</p>*}>