<table class="files">
	<tr>
		<th colspan="2">
		<div style="width: 638px; height: auto; border-bottom: 1px dotted #e3e3e3; padding-bottom: 10px;">
			<{$presskit_image_caption}><br />
			<{if $presskit_image_tags neq ''}><a href="<{$presskit_image_tags}>" title="<{$presskit_image_caption}>">View on map</a><{/if}>
		</div>
		<div style="width: 638px; height: auto; border-bottom: 1px dotted #e3e3e3; padding-bottom: 3px; padding-top: 3px;">
			<strong>Click Image to view full size</strong>
		</div>		
		</th>
	</tr>
	<tr>
		<th colspan="2">
		
		</th>
	</tr>
  <tr>
    <td align="center">
	<div style="width: 660px; text-align:center;">
	<{*<a href="/modules/presskits/image_gallery/<{$presskit_image_filename}>" rel="facebox" title="<{$presskit_image_caption}>">*}>
	<a href="/modules/presskits/image_gallery/<{$presskit_image_filename}>" rel="lightbox" title="<{$presskit_image_caption}>">
	  <img src="/modules/presskits/image_gallery/l_<{$presskit_image_filename}>" alt="<{$presskit_image_caption}>"/>
	 </a>
     <div>
         No of Views : <{$presskit_image_noofaccess}>
     </div>
     <div>
         Dimensions : <{$presskit_image_height}> x <{$presskit_image_width}> 
     </div>
         Size            : <{$presskit_image_size.kb}> KB
	</div>

    				<{show_block module="presskits"
				block="rate_image" presskit_id=$smarty.get.pkid
				image_id=$smarty.get.iid}>
	</td>
  </tr>
  <tr>
		  <td>
			<{*<div style="float:left; padding-top:30px; width:12px;">
				 <a href="index.php?action=imagegallery&form_name=view_image&aid=<{$aid}>&iid=<{$iid}>&inc=prev" style="display:block;"><img src="../../../template_images/imagegal_left.gif" /></a>
			</div>*}>
			
			<div style="float:left; height:120px; width:660px;overflow:auto;">
				<table>
					<tr>
				<{foreach name=images from=$presskit_images key=curkey item=curimage}>
					<td>
                        <div style="float:left;border:1px solid #CCCCCC; background:#FFFFFF; width:74px; height:74px; text-align:center; margin:3px;">
                                    <a href="index.php?action=presskits&form_name=view_image&pkid=<{$curimage->getParentID()}>&iid=<{$curimage->getID()}>" rel="lightbox-cats" title="<{$curimage->getCaption()}>"/>
                                        <div style="cursor: pointer; height:72px; width:72px; background:url(/modules/presskits/image_gallery/s_<{$curimage->getFilename()}>) center no-repeat;border: 1px #FFFFFF solid;">
                                        </div>
                                    </a>
                        </div>
					</td>
				<{/foreach}>
					</tr>
				</table>
			</div>
			
			<{*<div style="float:left; padding-top:30px; width:10px;">
				<a href="index.php?action=presskits&form_name=view_image&aid=<{$aid}>&iid=<{$iid}>&inc=next"  style="display:block;"><img src="../../../template_images/imagegal_right.gif" /></a>
			</div>*}>
		  </td>
  </tr>
  <tr>
    <td>
	  <{if $image_files}>
	   <table class="files">
		<tr>
			<th colspan="2">
			 Files
			</th>
		</tr>

		</table>
		    <{include file="`$modules_path`/presskits/templates/pager.html"}>
	  <{/if}>
	  	</td>
</tr>
	  </table>