
<{*include file="`$modules_path`/presskits/templates/start.html"*}>

	<div class="largeBoxWrap">
		<p class="largebox_header"/>
      	<div class="largebox_content" id="viewSelected">
      		
			<div class="selectedImages">
			<{if $files|@count gt 0}>
			  <{foreach from=$files key=k item=item}>
				
				<div class="download_item">
					
					<div class="image_thumb floatleft" style="padding-right: 12px;">
					<{if $item.type neq 'video'}>
				  		<img src="http://<{$smarty.session.centre_host}><{$item.filepath}>s_<{$item.filename}>" /><br/>
					<{else}>
						<img src="/template_images/icons/movie-icon.jpg" /><br/>
					<{/if}>
				  <p class="downButt cancel"><a href="/index.php?action=presskits&form_name=view_selected&form_action=remove_list&iid=<{$item.iid}>">Remove Item</a></p>
				  </div>
				  
				  <div class="image_details floatleft">
				  	<h3><{$item.filename}></h3>
					  <dl>
						<dt>Presskit Name:</dt>
						<dd><{$item.presskit_name}></dd>
						<dt>File Size:</dt>
						<dd>
							<{if $item.filesize lt "1024"}><{$item.filesize}>bytes
							<{elseif $item.filesize gt "1024" and $item.filesize lt "1048576"}><{math equation="x / y" x=$item.filesize y=1000 format="%.2f"}>KB
							<{elseif $item.filesize gt "1048576"}><{math equation="x / y" x=$item.filesize y=1000000 format="%.2f"}>MB<{/if}>
						</dd>
						<dt>file Type:</dt>
						<dd><{$item.type}></dd>
					  </dl>
					</div>
				 
				 </div>
				
			  <{/foreach}>
			<{/if}>
			</div>
			<div id="viewSelectedControls" class="clearboth">
				<div class="downloadBox">
					<div class="floatleft download_details">
						<h3>Download Status</h3>
						<p class="item">Items: <{$download_object->no_of_files}><br/>
						Size:
						  <{*
							<{if $download_object->total_size lt "1024"}><{$download_object->total_size}>bytes
							<{elseif $download_object->total_size gt "1024" and $download_object->total_size lt "1048576"}><{math equation="x / y" x=$download_object->total_size y=1000 format="%.2f"}>KB
							<{elseif $download_object->total_size gt "1048576"}><{math equation="x / y" x=$download_object->total_size y=1000000 format="%.2f"}>MB<{/if}>
						  *}>
						<{$download_object_size}>
						</p>
					</div>
					<div class="floatright download_controls">
					<p class="downButt floatleft" style="margin-right: 20px;"><a  href="#" onclick="window.history.back(); return false;">&lt; Go Back</a></p>
                    <{if $download_object->no_of_files gt 0}>
					<p class="downButt floatleft" style="margin-right: 20px;"><a  href="?action=presskits&form_name=view_selected&form_action=clear_items">Clear All Items</a></p>
					<p class="downButt floatleft"><a  href="?action=presskits&form_name=view_selected&form_action=download_selected">Download Selected</a></p>
                    <{/if}>
					<{if $user->IsAdmin()}>	
						<p class="downButt floatleft"><a href="#" onclick="return popup_ecard('');">Send Ecard</a></p>
					<{/if}>	
					</div>

				</div>
			</div>
      	</div>
      	<p class="largebox_footer"/>
	</div>
	
	
<div style="display: none;">

	<{ show_block 
		module="presskits" 	
		block="all_itemtype"   
		template_name="all_itemtype" 
		 }>
   </div>