<!-- Code for multiple image selection -->
<script>
	var status;
	$(document).ready(function(){

		$("#sel_images").click(function(event){
		  	event.preventDefault();
		  	var sel_tab_val=$(".ui-state-active").children("a").attr('val');
		    var sel_tab = "#tabs-" + sel_tab_val;
		    var sel_carousel = "#mycarousel-"+sel_tab_val
		    
		    var chks = $(sel_carousel + ' :checkbox');
		    var sel_ids='';
	        for(var i=0;i<chks.length;i++)
	            {
	                sel_ids = sel_ids + '|' + $(chks[i]).attr('val');
	                $(chks[i]).attr('checked','true') ;
	            }       
	        $("#iids").val(sel_ids);
		
			if(status == "selected"){	
		   		$("#frm_add").attr('action',"index.php?action=presskits&form_name=view_presskit&pkid=<{$presskit->getID()}>&form_action=remove_list" + sel_tab);   	
			}
			else
			{
		  		$("#frm_add").attr('action',"index.php?action=presskits&form_name=view_presskit&pkid=<{$presskit->getID()}>&form_action=add_list" + sel_tab);
			}
			$("#frm_add").submit();
		});
	});

    function checkGrp() {
		event.preventDefault();
        var sel_tab_val=$(".ui-state-active").children("a").attr('val');
        var sel_tab = "#tabs-" + sel_tab_val;
        var sel_carousel = "#mycarousel-"+sel_tab_val
        
        var chks = $(sel_carousel + ' :checkbox');
        var sel_ids='';
        for(var i=0;i<chks.length;i++)
            {
                sel_ids = sel_ids + '|' + $(chks[i]).attr('val');
                $(chks[i]).attr('checked','true') ;
            }
            $("#iids").val(sel_ids);
	    $("#frm_add").attr('action',"index.php?action=presskits&form_name=view_presskit&pkid=<{$presskit->getID()}>&form_action=add_list" + sel_tab);
	    $("#frm_add").submit();
    }

	var m
	function embargo_confirm(){   
		m=$('#ebargoContent').modal(
		{
		close:false		
		});
	}
</script>

<form id="frm_add" method="post">
	<input type="hidden" name="iids" id="iids"/>
</form>

<!-- ends here -->

<div id="ebargoContent" style='display:none'>
	<div style="padding:25px;padding-top:100px;text-align:justify;vertical-align:middle">
		<p>
			<table cellPadding="5px" style="top-margin:25px">
				<tr>
					<td>
						<div class="embargo">
							<strong> <{$presskit->getDate1()}>&nbsp;</strong>
						</div>
					</td>	
					<td style="padding-left:15px;padding-right:5px">	
						<div>
							This is embargo dated album. Please make sure that you don't publish these items before the specified embargo date.<p> Please tick the "I Agree" checkbox to proceed further.</p>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<form name=email method=get>
							<input type="checkbox" name="chk_agree" id="chk_agree" onClick="m.close();"></input><span style="line-height:2;padding-bottom:2px;padding-left:5px"><strong>I Agree</strong></span> 
							<br/> <a href="index.php?action=presskits">Back to Presskits </a>
						</form>		
					</td>
				</tr>
			</table>
		</p>
    </div>
</div>

<{include file="`$modules_path`/presskits/templates/start.html"}>

<div class="largeBoxWrap">
	<p class="largebox_header"></p>
  	<div class="largebox_content">
		<div class="pressBox">
			<img alt="<{$presskit->getName()}>" src="/assets/presskits/web_images/l_<{$presskit->getImage()}>"/>
		</div>
		<div class="pressBox">
			<!--<img alt="Embargo" src="../template_images/embargo.gif"/>-->
			<{if $presskit->getDate1() neq '' && $presskit->getDate1() neq 0}>
				<script type="text/javascript" language="JavaScript">
				embargo_confirm();
				</script>

				<div class="embargo">
				    <strong> <{$presskit->getDate1()}>&nbsp;</strong>
				</div>
			<{/if}>   

			<{if $presskit->getSystem() neq ''}><p class="pressdetail"><strong>System:</strong> <{$presskit->getSystem()}></p><{/if}>
			<{if $presskit->getType() neq ''}><p class="pressdetail"><strong>Game Type:</strong> <{$presskit->getType()}></p><{/if}>
			<{if $presskit->getComment1() neq ''}><p class="pressdetail"><strong>Release Date:</strong>  <{$presskit->getComment1()}></p><{/if}>
			<{if $presskit->getComment2() neq ''}><p class="pressdetail"><strong>Rating:</strong><{$presskit->getComment2()}></p><{/if}>
			<{if $presskit->getComment4() neq ''}><p class="pressdetail"><strong>Players:</strong> <{$presskit->getComment4()}></p><{/if}>
			<{if $presskit->getComment3() neq ''}><p class="pressdetail"><strong>Play Online:</strong> <{$presskit->getComment3()}></p><{/if}>
			<{if $presskit->getAccessories() neq ''}><p class="pressdetail"><strong>Accessories:</strong><{$presskit->getAccessories()}></p><{/if}>
			<br/> <br/>
			<p class="pressdetail">
				<{if $presskit->getFloat1() neq 0  }><strong>SRP $ <{$presskit->getFloat1()}> AUD</strong><br/><{/if}>
				<{if $presskit->getFloat2() neq 0 }><strong>SRP $ <{$presskit->getFloat2()}> NZ</strong><{/if}>
			</p>               
		</div>

		<div class="pressCont">
            <p><{$presskit->getDesc()}></p>
			<p><img alt="" src="/template_images/line.gif"/></p>
			<div class="downloadBox">
				<strong>Download Status</strong>
				<p class="item">
					Items: <{$download_object->no_of_files}><br/>
					Size: <{$download_object_size}>
				</p>
                <{if $download_object->no_of_files gt 0}>
					<p class="downButt"><a href="/index.php?action=presskits&form_name=view_selected">Review Selected <span class="new_tab">New</span></a></p>
					<p class="downButt"><a href="/index.php?action=presskits&form_name=view_presskit&pkid=<{$presskit->getId()}>&form_action=download_selected">Download Selected</a></p>
					<{if $user->IsAdmin() or $user->isMemberOfGroupID(375)}>	
						<p class="downButt"><a href="#" onclick="return popup_ecard('<{$presskit->getId()}>');">Send Ecard <span class="new_tab">New</span></a></p>
					<{/if}>	
					<p class="downButt"><a  href="/index.php?action=presskits&form_name=view_presskit&pkid=<{$presskit->getId()}>&form_action=clear_items">Clear All Items</a></p>
                <{/if}>
				
				<p class="downButt"><a id="sel_images" href="#">Select All Images</a></p>
			</div>
			<div class="downloadBox">
				<p><strong>Last Updated:</strong> <{$presskit->getCreateTime()|date_format:"%B %e, %Y"}></p>
				<!--p><strong>Download:</strong> <{$presskit->getNoOfDownloads()}> times</p-->
				<p><strong>Album size:</strong> <{$presskit_size}></p>
				<p class="downButt"><a href="/index.php?action=presskits&form_name=presskit_zip&pkid=<{$presskit->getId()}>">Download Full Album</a></p>
			</div>
		</div>
  	</div>
    <p class="largebox_footer"></p>
</div>

<{show_block module="presskits" block="all_itemtype" template_name="all_itemtype" pkid=$presskit->getId()}>
   

<script>
	$(document).ready(function(){
		var sel_tab_val=$(".ui-state-active").children("a").attr('val');
        var sel_tab = "#tabs-" + sel_tab_val;
        var sel_carousel = "#mycarousel-"+sel_tab_val
        
        var chks = $(sel_carousel + ' :checkbox');
        var sel_ids='';
		var flag ="true";
        for(var i=0;i<chks.length;i++)
            {
                sel_ids = sel_ids + '|' + $(chks[i]).attr('val');

                if($(chks[i]).attr('checked') == false)
		    flag=false;
            }

		if(flag)
		{
			$("#sel_images").text("Deselect All Images");
			status= "selected";
		}
		else
		{
			$("#sel_images").text("Select All Images");
			status= "unselected";
		}

        $("#iids").val(sel_ids);
		$("#frm_add").attr('action',"index.php?action=presskits&form_name=view_presskit&pkid=<{$presskit->getID()}>&form_action=add_list" + sel_tab);
	});

</script>