<{include file="`$modules_path`/presskits/templates/start.html"}>
<div class="largeBoxWrap">
		<p class="largebox_header"/>
      	<div class="largebox_content">
			<div class="pressBox">
				<img alt="<{$presskit->getName()}>" src="/modules/presskits/web_images/l_<{$presskit->getImage()}>"/>
			</div>
			<div class="pressBox">
				<!--<img alt="Embargo" src="../template_images/embargo.gif"/>-->
<{if $presskit->getDate1() neq '' && $presskit->getDate1() neq 0}>
<div class="embargo">
    <strong> <{$presskit->getDate1()}>&nbsp;</strong>
</div>
<{/if}>                      
				<{if $presskit->getSystem() neq ''}><p class="pressdetail"><strong>System:</strong> <{$presskit->getSystem()}></p><{/if}>
				<{if $presskit->getType() neq ''}><p class="pressdetail"><strong>Game Type:</strong> <{$presskit->getType()}></p><{/if}>
				<{if $presskit->getComment1() neq ''}><p class="pressdetail"><strong>Release Date:</strong>  <{$presskit->getComment1()}></p><{/if}>
				<{if $presskit->getComment2() neq ''}><p class="pressdetail"><strong>Rating:</strong><{$presskit->getComment2()}></p><{/if}>
				<{if $presskit->getComment4() neq ''}><p class="pressdetail"><strong>Players:</strong> <{$presskit->getComment4()}></p><{/if}>
				<{if $presskit->getComment3() neq ''}><p class="pressdetail"><strong>Play Online:</strong> <{$presskit->getComment3()}></p><{/if}>
				<{if $presskit->getAccessories() neq ''}><p class="pressdetail"><strong>Accessories:</strong><{$presskit->getAccessories()}><{/if}>
				</p><br/> <br/>
				<p class="pressdetail">
				<{if $presskit->getFloat1() neq 0  }><strong>SRP $ <{$presskit->getFloat1()}> AUD</strong><br/><{/if}>
				<{if $presskit->getFloat2() neq 0 }><strong>SRP $ <{$presskit->getFloat2()}> NZ</strong> </p><{/if}>

                                
			</div>
			<div class="pressCont">
                <p><{$presskit->getDesc()}></p>
				<p><img alt="" src="../template_images/line.gif"/></p>
				<div class="downloadBox">
					<strong>Download Status</strong>
					<p class="item">Items: <{$download_object->no_of_files}><br/>
					Size:
					
					<{*
					<{if $download_object->total_size lt "1024"}><{$download_object->total_size}>bytes
					<{elseif $download_object->total_size gt "1024" and $download_object->total_size lt "1048576"}><{math equation="x / y" x=$download_object->total_size y=1000 format="%.2f"}>KB
					<{elseif $download_object->total_size gt "1048576"}><{math equation="x / y" x=$download_object->total_size y=1000000 format="%.2f"}>MB<{/if}>
					*}><{$download_object_size}>
					</p>
                    <{if $download_object->no_of_files gt 0}>
					<p class="downButt"><a href="?action=presskits&form_name=view_presskit&pkid=<{$presskit->getId()}>&form_action=download_selected">Download Selected</a></p>
                    <{/if}>
					<{if $user->IsAdmin()}>	
						<p class="downButt"><a href="#" onclick="return popup_ecard('<{$presskit->getId()}>');">Send Ecard</a></p>
					<{/if}>	
				</div>
				<div class="downloadBox">
					<p><strong>Last Updated:</strong> <{$presskit->getCreateTime()|date_format:"%B %e, %Y"}></p>
					<!--p><strong>Download:</strong> <{$presskit->getNoOfDownloads()}> times</p-->
					<p><strong>Album size:</strong> <{$presskit_size}></p>
					<p class="downButt"><a href="?action=presskits&form_name=presskit_zip&pkid=<{$presskit->getId()}>">Download Full Album</a></p>
				
				</div>
			</div>
      	</div>
      	<p class="largebox_footer"/>
	</div>
   <{show_block module="presskits" 	block="all_itemtype"   template_name="all_itemtype" pkid=$presskit->getId()}>
   



























