@import "../../theme";

.columns {
  @media #{$desktop} {
    display: flex;
  }
}

.column {
  @media #{$desktop} {
    flex-basis: 0;
    flex-grow: 1;

    min-width: 0;
    .columns_flexible & {
      min-width: auto;
    }

    padding: 0 ($grid-gutter-width / 2);
    .columns_tight & {
      padding: 0 ($grid-gutter-width / 4);
    }
    &:first-child {
      padding-left: 0 !important;
    }
    &:last-child {
      padding-right: 0 !important;
    }
  }
}
