@import "../../theme";

@mixin _coreLoader($ball-size, $margin, $background-color) {
  $ball-spacing: 2px;
  @keyframes bounce {
    33% { transform: translateY(-$ball-size); }
    66% { transform: translateY(0); }
  }

  width: ($ball-size + ($ball-spacing * 2)) * 3;
  margin: $margin;

  > .ball {
    background-color: $background-color;
    width: $ball-size;
    height: $ball-size;
    margin: 0 $ball-spacing;
  }
}

.root {
  @include _coreLoader($grid-row-height * 2, ($grid-row-height * 7) auto, $dna-mid-gray-light);
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  $animation-duration: 0.6s;
  $animation-delay: 0.07s;

  animation: fadeIn ease-in 1;
  animation-duration: 0.25s;

  > .ball {
    border-radius: 100%;
    animation-fill-mode: both;
    display: inline-block;
  }

  > .ball:nth-child(1) {
    animation: bounce $animation-duration -($animation-delay * 2) infinite ease-in-out;
  }
  > .ball:nth-child(2) {
    animation: bounce $animation-duration -$animation-delay infinite ease-in-out;
  }
  > .ball:nth-child(3) {
    animation: bounce $animation-duration 0s infinite ease-in-out;
  }
}

.root._small {
  @include _coreLoader(4px, 0, currentColor);
  display: inline;
}
