<{extends file="layout--site.html"}>
<{block name=section append}>page<{/block}>
<{block name="body"}>

    <{if $page->getLayoutFile()}>
    	<{include file="`$modules_path`page/templates/layouts/"|cat:$page->getLayoutFile()}>
    <{else}>
        <section>
            <h1>
                <{$page->getName()}>
            </h1>
            <div class="rte">
                <{$page->getContent()}>
            </div>
        </section>
	<{/if}>

<{/block}>
