@import "../../theme";

.root {
  display: inline-block;
  position: relative;
}

.textarea {
  @include touchableText();
  width: 100%;
  height: $grid-row-height * 10;
  resize: vertical;
  max-height: $grid-row-height * 20;
  line-height: 25px; // Deliberate deviation to avoid looking like body copy
  color: $dna-charcoal;
  border: $field-border-width solid $dna-mid-gray-light;
  border-radius: $field-border-radius;
  padding: 12px $field-gutter-width;
  vertical-align: top;
  background-color: $dna-white;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:not([readonly]):not([disabled]):focus,
  .rootFocus & {
    outline: none;
    border-color: transparent;
    @include focus();
  }

  .invalid & {
    border-color: transparent;
    box-shadow: 0 0 0 $field-border-width $dna-pink;

    &:not([readonly]):not([disabled]):focus,
    .rootFocus & {
      border-color: transparent;
      box-shadow: 0 0 0 $field-border-width $dna-pink;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  min-height: ($grid-row-height * $standard-type-row-span);
  margin-bottom: $grid-row-height;
  align-items: flex-start;
}

.characterCount {
  @include standardText();
  color: $dna-mid-gray-dark;
  text-align: right;
  margin-left: ($grid-gutter-width / 2);

  &:only-child {
    flex-basis: 100%;
  }
}

.invalidCharacterCount {
  color: $dna-pink;
}
