@import "../../../../../../theme";

.root {
  position: relative;
  display: none;
  @media only screen and (min-width: 640px) {
    display: block;
  }
  > * {
    display: block;
    &:not(:last-child) {
      margin-bottom: $grid-row-height;
    }
  }
}
