@import "../../theme";

.root {
  line-height: $grid-row-height * 3;
  height: $grid-row-height * 5;
  padding: $grid-row-height 0;
  cursor: pointer;
  display: inline-block;
}

.switch {
  display: inline-flex;
  position: relative;
}

.input {
  position: absolute;
  left: 10px;
  top: 5px;
  margin: 0;

  &:focus ~ .slider {
    box-shadow: 0 0 10px 0 $dna-focus;
  }

  &:active ~ .slider .slideButton::before {
    transform: scale(1.15, 0.85);
  }

  &:checked ~ .slider .slideButton {
    left: 21px;

    &::before {
      background-color: $dna-highlight;
    }
  }

  &:checked ~ .slider .slideButton :global(svg) {
    opacity: 1;
  }

  &:checked ~ .label {
    font-weight: $dna-bold;
  }
}

.inputLeft {
  left: auto;
  right: 10px;
}

.label {
  padding: 0;
}

.labelLeft {
  margin-right: $grid-gutter-width / 2;
}

.labelRight {
  margin-left: $grid-gutter-width / 2;
}

.labelText {
  line-height: $grid-row-height * 3;
}

.slider {
  position: relative;
  display: inline-block;
  left: 0;
  width: 48px;
  height: $grid-row-height * 3;
  border-radius: $grid-row-height * 1.5;
  background-color: $dna-mid-gray-light;
  transition: 0.3s;
}

.slideButton {
  position: relative;
  left: 0;
  transition: 0.3s;

  &::before {
    content: '';
    transition: 0.3s;
    position: absolute;
    height: $grid-row-height * 3;
    width: $grid-row-height * 3;
    border-radius: 50%;
    background-color: $dna-mid-gray;
    text-align: center;
  }
}

.icon {
  position: absolute;
  width: $grid-row-height * 3;
  height: $grid-row-height * 3;
  text-align: center;
}

.svg {
  fill: white;
  opacity: 0;
  transition: opacity 0.15s;
  position: relative;
  top: 5px;
}
