@import "../../theme";

$chevronWidth: 16px + ($field-gutter-width * 2);

.root {
  display: inline-block;
  position: relative;
}

.dropdown {
  @include touchableText();
  width: 100%;
  display: block;
  height: $grid-row-height * 5;
  padding: 0 $chevronWidth 0 $field-gutter-width;
  background: $dna-white;
  border: $field-border-width solid $dna-mid-gray-light;
  border-radius: $field-border-radius;
  color: $dna-charcoal;
  background-color: $dna-white;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::-ms-expand {
    display: none;
  }

  &:not([readonly]):not([disabled]):focus,
  .rootFocus & {
    outline: none;
    border-color: transparent;
    @include focus();
  }

  .invalid & {
    border-color: transparent;
    box-shadow: 0 0 0 $field-border-width $dna-pink;

    &:not([readonly]):not([disabled]):focus,
    .rootFocus & {
      border-color: transparent;
      box-shadow: 0 0 0 $field-border-width $dna-pink;
    }
  }

  &.placeholderSelected {
    color: $dna-mid-gray;
  }
}

.option {
  color: $dna-charcoal;
}

.chevron {
  position: absolute;
  right: 0;
  overflow: hidden;
  height: ($interaction-type-row-span * $grid-row-height);
  border: 0;
  padding: 0 $field-gutter-width;
  background-color: transparent;
  display: flex;
  align-items: center;
  pointer-events: none;
  color: $dna-black;
}

.chevronSvg {
  height: 16px;
  width: 16px;
}
