.sidebar__form {
  label {
    text-transform: uppercase;
    margin-bottom: 4px;
    display: block;
    font-size: 8px;
    //font-weight: bold;
    font-family: $font-family-primary-bold;
    line-height: 9px;
    cursor: pointer;
    @include media('>=lap') {
      font-size: 12px;
      line-height: 14px;
    }
  }
  input {
    border: 1px solid black;
    height: 51px;
    font-size: 16px;
    //font-weight: 300;
    font-family: $font-family-primary-light;
    line-height: 19px;
    color: black;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    ::-webkit-input-placeholder {
      color: $color-form-label;
    }
    ::-moz-placeholder {
      color: $color-form-label;
    }
    :-ms-input-placeholder {
      color: $color-form-label;
    }
    :-moz-placeholder {
      color: $color-form-label;
    }
  }
  button {
    margin-top: 24px;
    width: 100%;
  }
  .form__item {

    &.form__item--error {
      color: $color-warning;
      input, a, p {
        color: $color-warning;
      }
      a {
        //font-weight: bold;
        font-family: $font-family-primary-bold;
      }
    }
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.content--main {
  .form__item {

    &.form__item--error {
      color: $color-warning;
      input, a, p, label {
        color: $color-warning !important;
      }
      a {
        font-family: $font-family-primary-bold;
      }
    }

  }
}
.content__form {
  @include position();
  padding-top: 15px;

  &.content__form--no-pad {
    margin: 0;
    padding: 0;
  }
  .cta {
    //width: 100px;
  }
  .form__controls {
    &:not(:last-child) {
      margin-bottom: 24px;

    }
    select, input {
      height: 51px;
      font-size: 16px;
      //font-weight: 300;
      font-family: $font-family-primary-light;
      line-height: 19px;
      color: black;
      padding-left: 16px;
      padding-right: 16px;
      width: 100%;
      @include media('>=lap') {
        border: 1px solid black;
      }
      @include media('<lap') {
        border: 1px solid black;

      }
      background-color: white;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    input {

      ::-webkit-input-placeholder {
        color: $color-form-label;
      }
      ::-moz-placeholder {
        color: $color-form-label;
      }
      :-ms-input-placeholder {
        color: $color-form-label;
      }
      :-moz-placeholder {
        color: $color-form-label;
      }

      &:focus + label, &.input--dirty + label {
        color: black;
        font-size: 10px;
        line-height: 11px;
        height: 11px;
        //font-weight: bold;
        font-family: $font-family-primary-bold;
        transform: translate(-16px, -15px);
      }

    }
    select {
      &.input--dirty + label {
        color: black;
        font-size: 10px;
        line-height: 11px;
        height: 11px;
        font-family: $font-family-primary-bold;
        transform: translate(-16px, -15px);
      }
    }
    .form__item {
      @include position(relative);
      margin-top: 24px;
      @include media('>=lap') {
        margin-top: 0;
      }
      label {
        @include position(absolute, 0);
        color: $color-form-label;
        line-height: 51px;
        padding: 0 0 0 0;
        left: 16px;
        width: calc(100% - 32px);
        cursor: pointer;
        height: 51px;
        overflow: hidden;
        transition: all .3s cubic-bezier(.25,.46,.45,.94);
      }
      &:not(:last-child) {
        input, select {
          @include media('>=lap') {
            border-right: none;
          }
        }
      }
    }
    &.form__controls--cc {
      @include clearfix;
      .form__item {

        width: 50%;
        float: left;
        &:last-child {
          width: 100%;
        }
        @include media('>=lap') {
          width: 25%;
          &:last-child {
            width: 50%;
          }
        }
        &:not(:last-child) {
          input {
            text-align: center;
          }
          @include media('<lap') {
            margin-top: 0;
          }
        }
        &:nth-of-type(1) {
          @include media('<lap') {
            input {
              border-right-color: transparent;
            }
          }
        }
        &:nth-of-type(2) {
          &:before {
            content: '/';
            position: absolute;
            left: -2px;
            line-height: 51px;
            font-size: 16px;
            font-weight: normal;
          }
          input {
            border-left-color: transparent;
          }
        }
      }
    }
    &.form__controls--voucher {
      @include media('>=lap') {
        width: 50%;
        float: left;
        margin-right: 16px;
      }
    }
    &.form__controls--3 {
      @include clearfix;
      .form__item {
        @include media('>=lap') {
          width: 33.33%;
          float: left;
        }
      }
    }
    &.form__controls--2 {
      @include clearfix;
      .form__item {
        @include media('>=lap') {
          width: 50%;
          float: left;
        }
      }
    }
    &.form__controls--half {
      width: 50%;
      min-width: 332px;
      padding-left: 32px;
    }
  }
  #delivery-fields {
    display: none;
    &.visible {
      display: block;
    }
  }
}
#delivery_select {
  background: url('/public/images/checkout/arrow.jpg') no-repeat center right 10px;
}
#delivery_street_address {
  background-size: 144px 18px;
  background-repeat:no-repeat;
}
.form__help {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  font-family: $font-family-secondary;
  margin-top: 16px;
}
.go__btn {
  color: $color-cta;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  //font-weight: bold;
  font-family: $font-family-secondary-bold;
}

.input__wrapper {
  position: relative;
  input {
    padding-right: 64px;
  }
  i {
    @include position(absolute, 50%, 0);
    padding: 16px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.form__submit {
  width: 100%;
  margin-top: 32px;
}
.input__bg {
  background-position: right bottom;
  background-size: 84px 26px;
  background-repeat: no-repeat;
}
.input__card {
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: right;
  &#cc_card_validation {
    @include media('>=lap') {
      background-size: 40px;
    }
  }
}
#cc_number {
  &.card__visa {
    background-image: url('/public/images/checkout/visa.jpg');
  }
  &.card__amex {
    background-image: url('/public/images/checkout/aexpress.jpg');
  }
  &.card__mastercard {
    background-image: url('/public/images/checkout/mastercard.jpg');
  }
}
select {
  border-radius: 0;
}

// credit card plugin
.jp-card-container {
  display: none !important;
}

.radio {
  display: none;
}
.radio__label {
  display: block;
  cursor: pointer;
  //padding: 32px;
  //&:not(:last-child) {
  //  border-bottom: 1px solid black;
  //}
  @include position();
  padding-left: 32px;
  &.radio__label--delivery {
    @include media('>=lap') {
      margin-bottom: 16px;
    }
  }
  i {
    @include position(absolute, 50%, null, null, 0);
    transform: translateY(-50%);
    &:before {
      font-family: 'fontawesome';
      content: '\f10c';
    }
  }
  img {
    max-height: 32px;
    vertical-align: middle;
  }

}

.disable__form {
  &:checked {
    ~ .content__form {
      &:before {
        content: ' ';
        @include position(absolute, 0, 0, 0, 0);
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(255,255,255,0.5);
      }
    }
  }
}

.hide__form {
  ~ .content__form {
    max-height: 0;
    padding-top: 0;
    margin-top: 0;
    overflow: hidden;
    transition: all .3s cubic-bezier(.25,.46,.45,.94);
  }
  &:checked {
    ~ .content__form {
      max-height: 300px;
      @include media('>=lap') {
        padding-top: 15px;
        margin-top: 16px;
      }
    }
  }
}

.radio:checked {
  + .radio__label {
    i:before {
      font-family: 'fontawesome';
      content: '\f058';
    }
  }
}