@function is-not-number($value) {
  @return type-of($value) != 'number';
}
@function is-number($value) {
  @return type-of($value) == 'number';
}
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@mixin calculate-type-offset($line-height, $font-size, $bk-descender-height-scale) {
  $line-height-scale: ($line-height / $font-size);
  $offset: (($line-height-scale - 1) / 2) + $bk-descender-height-scale;
  transform: translateY(strip-unit($offset) + em);
}

@mixin basekick($bk-type-size-modifier, $bk-type-row-span, $bk-descender-height-scale, $dna-base-font-size, $bk-grid-row-height, $bk-line-height-override: false) {


  $font-size: ($bk-type-size-modifier * $dna-base-font-size);
  font-size: strip-unit($font-size) + px;

  @if (is-not-number($bk-line-height-override)) {
    $line-height: ($bk-type-row-span * $bk-grid-row-height);
    line-height: strip-unit($line-height) + px;
    @include calculate-type-offset($line-height, $font-size, $bk-descender-height-scale);
  }

  @if (is-number($bk-line-height-override)) {
    line-height: strip-unit($bk-line-height-override) + px;
    @include calculate-type-offset($bk-line-height-override, $font-size, $bk-descender-height-scale);
  }
};
