@import "../../theme";
@import "../ClearField/ClearFieldVariables";

.root {
  position: relative;
}

.input {
  @include touchableText();
  padding: 0 $field-gutter-width;
  border: $field-border-width solid $dna-mid-gray-light;
  border-radius: $field-border-radius;
  color: $dna-charcoal;
  width: 100%;
  background-color: $dna-white;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:not([readonly]):not([disabled]):focus,
  .rootFocus & {
    outline: none;
    border-color: transparent;
    @include focus();
  }

  .invalid & {
    border-color: transparent;
    box-shadow: 0 0 0 $field-border-width $dna-pink;

    &:not([readonly]):not([disabled]):focus,
    .rootFocus & {
      border-color: transparent;
      box-shadow: 0 0 0 $field-border-width $dna-pink;
    }
  }

  .canClear & {
    padding: 0 $clear-button-width 0 $field-gutter-width;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  &::-ms-clear {
    display: none;
  }
}

.clearField {
  position: absolute;
  right: 0;
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  .canClear & {
    opacity: 1;
    transition: opacity 0.3s ease;
    max-width: initial;
  }
}
