@import "../../theme";

:global {
  /* stylelint-disable selector-max-type */
  @import "./reset";

  html {
    background-color: $dna-background;
    min-height: 100%;
  }
  /* stylelint-enable selector-max-type */
}

.root {
  @include provider();
}

.fullScreen {
  height: 100%;
}
