<{extends file="layout--order.html"}>
<{block name=section}>order-process complete<{/block}>
<{block name="body"}>


    <div class="content" id="outer-content" data-coupon="<{$cart3->getVoucherCode()}>">


        <div class="content__inner">

            <section class="content content--centered">

                <{if $form_action eq 'cancel'}>

                    <h2 class="content__title">Incomplete Payment</h2>

                    <div class="content__card">

                        <ul class="fancy__list error">
                            <li>
                                <p>
                                    Your payment was not completed. <a href="/index.php?action=prodcatalogueorder&form_name=payment">Click here</a> to select another payment option.
                                </p>
                            </li>
                        </ul>

                    </div>

                <{elseif $order_info and $order_failed ne 1}>

                    <h2 class="content__title">Your Order Confirmation</h2>

                    <div class="content__card">

                        <ul class="fancy__list">
                            <li>
                                <p>
                                    Thank you for shopping with <{$smarty.session.centre_name}>.
                                </p>
                                <p>
                                    Your order #<{$order_info->getNum()}> has been received and you will receive an email confirmation shortly for your reference.
                                </p>

                                <{if !$meta_data}>
                                <{show_block module='centres' block='get_meta_data'
                                templateName="_blank"}>
                                <{/if}>
                                <{$confirmationMessage = $meta_data['Cart3 Confirmation Message']}>

                                <{if is_object($confirmationMessage) and $confirmationMessage->getValue()}>
                                <p>
                                    <strong>Whats next?</strong>
                                </p>
                                <p>
                                    <{$confirmationMessage->getValue()}>
                                </p>
                                <{/if}>
                                <a href="/" class="cta small">RETURN TO HOME</a>
                            </li>
                        </ul>

                    </div>



                <{else}>

                    <h2 class="content__title">Something Went Wrong ...</h2>

                    <div class="content__card">

                        <ul class="fancy__list error">
                            <li>
                                <p>
                                    Your order could not be processed. <a href="/index.php?action=prodcatalogueorder">Click here</a> to try again.
                                </p>

                            </li>
                        </ul>

                    </div>

                <{/if}>


                <{if is_object($order_info)}>

                <h2 class="content__title">Your Order Information</h2>

                <div class="content__card">


                    <{$orderProducts = $order_info->getProducts()}>

                    <{if $orderProducts}>


                    <{foreach $orderProducts as $currprod}>


                    <div class="content__cart__item content__order__item">

                        <{$optionID = ''}>

                        <{if is_array($currprod.options)}>

                            <{foreach name=options from=$currprod.options key=curkey item=curoption}>
                                <{if is_object($curoption)}>

                                    <{if $optionID}>
                                        <{$optionID = $optionID|cat:"|`$curoption->getID()`"}>
                                    <{else}>
                                        <{$optionID = $optionID|cat:"`$curoption->getID()`"}>
                                    <{/if}>

                                <{/if}>
                            <{/foreach}>

                        <{/if}>

                        <{$variant = $currprod.variant_object}>

                        <{if is_object($variant) and !empty($variant->getAssets())}>

                            <{foreach $variant->getAssets() as $item}>
                                <{if is_object($item.image)}>
                                    <{$variantImage = $item.image->getUrl()}>
                                    <{break}>
                                <{/if}>
                            <{/foreach}>
                            <div class="content__image">
                                <div class="image" style="background-image: url('<{$variantImage}>')" ></div>
                            </div>

                        <{else}>

                            <{$assets = $currprod.object->getAssets()}>
                            <div class="content__image">
                                <div class="image" style="background-image: url('<{if is_object($assets.image)}><{$assets.image->getUrl()}><{/if}>')"></div>
                            </div>

                        <{/if}>

                        <div class="content__product">

                            <div class="product__description">
                                <h3 class="product__title"><{$currprod.name}></h3>
                                <{if is_array($currprod.options)}>
                                <p class="product__options">
                                    <{foreach name=options from=$currprod.options key=curkey item=curoption}>
                                    <{if is_object($curoption)}>
                                    <{$curoption->getOptionlistObject()->getText()}>: <span><{$curoption->getText()}></span>
                                    &nbsp;
                                    <{/if}>
                                    <{/foreach}>
                                </p>

                                <{/if}>
                                <p class="product__quantity__price">
                                    <span class="quantity">Qty: <{$currprod.quantity}></span>
                                    <span class="pricing">Price: $<{$currprod.list_price|number_format:2}></span>
                                </p>
                            </div>
                            <div class="product__total">
                                <p class="show__desktop">$<{$currprod.final_price|number_format:2}></p>
                            </div>
                        </div>

                    </div>
                    <{/foreach}>
                    <{/if}>


                </div>

                <{/if}>


                <{if is_object($order_info)}>

                <{$count = 0}>
                <{foreach $order_info->getProducts() as $prod}>
                <{$count = $count + $prod.products_quantity }>
                <{/foreach}>

                <div class="content__subtotal">
                    <div class="content__cart__item">

                        <div class="content__image">
                            <h2>Total</h2>
                        </div>
                        <div class="content__product">
                            <div class="product__actions">
                                <{$count}> Items
                            </div>
                            <div class="product__description">
                                <div class="dummy"></div>
                            </div>
                            <div class="product__total">
                                <p>$<{$order_info->getOrdTotal()|number_format:2}></p>
                            </div>
                        </div>

                    </div>
                </div>
                <{/if}>

            </section>



        </div>

    </div>

<{/block}>
