<{extends file="layout--order.html"}>
<{block name=section}>order-process order-delivery<{/block}>
<{block name="body"}>



    <div class="content" id="outer-content" data-coupon="<{$cart3->getVoucherCode()}>">

        <div class="content__inner">

            <form class="customer__form" data-form="continue-form" action="/index.php?<{$return_page}>" name="customer_details" id="checkout_shipping" method="post">

                <input type="hidden" name="action" value="prodcatalogueorder" />
                <input type="hidden" name="form_name" value="checkout_shipping" />
                <input type="hidden" name="form_action" value="complete" />
                <input type="hidden" name="update_user" value="TRUE" />

                <{* this is the selected shipping rate ID. Update this value on ajax return *}>
                <input class="coredna-rateId" type="hidden" name="shippingRateId" data-rateid="<{if $rateId}><{$rateId}><{/if}>" id="shippingRateId" value="<{if $rateId}><{$rateId}><{/if}>" />
                <script>
                    window.shippingRateId = "<{$rateId}>";
                </script>

                <{* this is the country code for the current shipping country *}>
                <input type="hidden" id="delivery_countryId" name="delivery_countryId" value="US" />

            <section class="content content--main">


                <h2 class="content__title">Delivery Contact Information</h2>

                <div class="content__card">



                    <{if $shippingErrors}>
                    <div class="rte errors">

                        <p><strong>Please fix the following errors before proceeding:</strong></p> <br>
                        <ul>
                        <{foreach "<br>"|explode:$shippingErrors as $errorItem}>
                        <li><{$errorItem}></li>
                        <{/foreach}>
                        </ul>

                    </div>
                    <{/if}>

                    <div class="content__form">

                        <div class="form__controls form__controls--3">
                            <div class="form__item">
                                <input type="text" autocomplete="given-name" name="delivery_firstname" class="<{if $user->getCartFirstName()}>input--dirty<{/if}>" id="delivery_firstname" value="<{$user->getCartFirstName()}>" />
                                <label for="delivery_firstname">First name<span class="require-star">*</span></label>
                            </div>
                            <div class="form__item">
                                <input type="text" autocomplete="family-name" name="delivery_lastname" class="<{if $user->getCartLastName()}>input--dirty<{/if}>" id="delivery_lastname" value="<{$user->getCartLastName()}>" />
                                <label for="delivery_lastname">Last name<span class="require-star">*</span></label>
                            </div>
                            <div class="form__item">
                                <input type="text" id="delivery_phone" autocomplete="home tel" autocomplete="shipping mobile tel" class="<{if $user->getCartPhone()}>input--dirty<{/if}>" name="delivery_phone" value="<{$user->getCartPhone()}>" />
                                <label for="delivery_phone">Mobile number<span class="require-star">*</span></label>
                            </div>
                        </div>
                        <div class="form__controls">
                            <div class="form__item">
                                <input type="text" id="delivery_street_address" autocomplete="shipping street-address" name="delivery_street_address" class="input__bg <{if $user->getCartAddress()}>input--dirty<{/if}>" value="<{$user->getCartAddress()}>" placeholder=""
                                   style="background-image: url(<{$smarty.session.centre_asset_host}>/public/images/checkout/bygoogle.png)" >
                                <label for="delivery_street_address">Delivery address - type & select from the list<span class="require-star">*</span></label>
                            </div>
                        </div>
                        <div class="form__controls form__controls--3 <{if $user->getCartAddress()}>visible<{/if}>" id="delivery-fields">
                            <div class="form__item">
                                <input type="text" name="delivery_city" autocomplete="shipping address-level2" class="<{if $user->getCartSuburb()}>input--dirty<{/if}>" id="delivery_city" value="<{$user->getCartSuburb()}>" />
                                <label for="delivery_city">Suburb / City<span class="require-star">*</span></label>
                            </div>
                            <div class="form__item">
                                <select id="delivery_select" name="delivery_state" class="input--dirty">
                                    <option <{if $user->getCartState() == 'AL' }>selected <{/if}>value="AL">Alabama</option>
                                    <option <{if $user->getCartState() == 'AK' }>selected <{/if}>value="AK">Alaska</option>
                                    <option <{if $user->getCartState() == 'AZ' }>selected <{/if}>value="AZ">Arizona</option>
                                    <option <{if $user->getCartState() == 'AR' }>selected <{/if}>value="AR">Arkansas</option>
                                    <option <{if $user->getCartState() == 'CA' }>selected <{/if}>value="CA">California</option>
                                    <option <{if $user->getCartState() == 'CO' }>selected <{/if}>value="CO">Colorado</option>
                                    <option <{if $user->getCartState() == 'CT' }>selected <{/if}>value="CT">Connecticut</option>
                                    <option <{if $user->getCartState() == 'DE' }>selected <{/if}>value="DE">Delaware</option>
                                    <option <{if $user->getCartState() == 'DC' }>selected <{/if}>value="DC">District Of Columbia</option>
                                    <option <{if $user->getCartState() == 'FL' }>selected <{/if}>value="FL">Florida</option>
                                    <option <{if $user->getCartState() == 'GA' }>selected <{/if}>value="GA">Georgia</option>
                                    <option <{if $user->getCartState() == 'HI' }>selected <{/if}>value="HI">Hawaii</option>
                                    <option <{if $user->getCartState() == 'ID' }>selected <{/if}>value="ID">Idaho</option>
                                    <option <{if $user->getCartState() == 'IL' }>selected <{/if}>value="IL">Illinois</option>
                                    <option <{if $user->getCartState() == 'IN' }>selected <{/if}>value="IN">Indiana</option>
                                    <option <{if $user->getCartState() == 'IA' }>selected <{/if}>value="IA">Iowa</option>
                                    <option <{if $user->getCartState() == 'KS' }>selected <{/if}>value="KS">Kansas</option>
                                    <option <{if $user->getCartState() == 'KY' }>selected <{/if}>value="KY">Kentucky</option>
                                    <option <{if $user->getCartState() == 'LA' }>selected <{/if}>value="LA">Louisiana</option>
                                    <option <{if $user->getCartState() == 'ME' }>selected <{/if}>value="ME">Maine</option>
                                    <option <{if $user->getCartState() == 'MD' }>selected <{/if}>value="MD">Maryland</option>
                                    <option <{if $user->getCartState() == 'MA' }>selected <{/if}>value="MA">Massachusetts</option>
                                    <option <{if $user->getCartState() == 'MI' }>selected <{/if}>value="MI">Michigan</option>
                                    <option <{if $user->getCartState() == 'MN' }>selected <{/if}>value="MN">Minnesota</option>
                                    <option <{if $user->getCartState() == 'MS' }>selected <{/if}>value="MS">Mississippi</option>
                                    <option <{if $user->getCartState() == 'MO' }>selected <{/if}>value="MO">Missouri</option>
                                    <option <{if $user->getCartState() == 'MT' }>selected <{/if}>value="MT">Montana</option>
                                    <option <{if $user->getCartState() == 'NE' }>selected <{/if}>value="NE">Nebraska</option>
                                    <option <{if $user->getCartState() == 'NV' }>selected <{/if}>value="NV">Nevada</option>
                                    <option <{if $user->getCartState() == 'NH' }>selected <{/if}>value="NH">New Hampshire</option>
                                    <option <{if $user->getCartState() == 'NJ' }>selected <{/if}>value="NJ">New Jersey</option>
                                    <option <{if $user->getCartState() == 'NM' }>selected <{/if}>value="NM">New Mexico</option>
                                    <option <{if $user->getCartState() == 'NY' }>selected <{/if}>value="NY">New York</option>
                                    <option <{if $user->getCartState() == 'NC' }>selected <{/if}>value="NC">North Carolina</option>
                                    <option <{if $user->getCartState() == 'ND' }>selected <{/if}>value="ND">North Dakota</option>
                                    <option <{if $user->getCartState() == 'OH' }>selected <{/if}>value="OH">Ohio</option>
                                    <option <{if $user->getCartState() == 'OK' }>selected <{/if}>value="OK">Oklahoma</option>
                                    <option <{if $user->getCartState() == 'OR' }>selected <{/if}>value="OR">Oregon</option>
                                    <option <{if $user->getCartState() == 'PA' }>selected <{/if}>value="PA">Pennsylvania</option>
                                    <option <{if $user->getCartState() == 'RI' }>selected <{/if}>value="RI">Rhode Island</option>
                                    <option <{if $user->getCartState() == 'SC' }>selected <{/if}>value="SC">South Carolina</option>
                                    <option <{if $user->getCartState() == 'SD' }>selected <{/if}>value="SD">South Dakota</option>
                                    <option <{if $user->getCartState() == 'TN' }>selected <{/if}>value="TN">Tennessee</option>
                                    <option <{if $user->getCartState() == 'TX' }>selected <{/if}>value="TX">Texas</option>
                                    <option <{if $user->getCartState() == 'UT' }>selected <{/if}>value="UT">Utah</option>
                                    <option <{if $user->getCartState() == 'VT' }>selected <{/if}>value="VT">Vermont</option>
                                    <option <{if $user->getCartState() == 'VA' }>selected <{/if}>value="VA">Virginia</option>
                                    <option <{if $user->getCartState() == 'WA' }>selected <{/if}>value="WA">Washington</option>
                                    <option <{if $user->getCartState() == 'WV' }>selected <{/if}>value="WV">West Virginia</option>
                                    <option <{if $user->getCartState() == 'WI' }>selected <{/if}>value="WI">Wisconsin</option>
                                    <option <{if $user->getCartState() == 'WY' }>selected <{/if}>value="WY">Wyoming</option>
                                </select>
                                <label for="delivery_select">State<span class="require-star">*</span></label>
                            </div>
                            <div class="form__item">
                                <input type="text" id="delivery_postcode" autocomplete="shipping postal-code" class="<{if $user->getCartPostcode()}>input--dirty<{/if}>" name="delivery_postcode" value="<{$user->getCartPostcode()}>" />
                                <label for="delivery_postcode">Postcode<span class="require-star">*</span></label>
                            </div>
                        </div>


                    </div>

                </div>


                <div id="shipping-wrapper1">

                <h2 class="content__title">Shipping Options</h2>

                <div class="content__card content__card--no-pad">

                    <div class="content__radio__inputs coredna-deliveryOptions" id="shipping-options1"></div>

                </div>

                </div>



            </section>

            <aside class="content content--aside">

                <div class="fixed__wrapper">
                    <{if !$meta_data}>
                    <{show_block module='centres' block='get_meta_data'
                    templateName="_blank"}>
                    <{/if}>
                    <{$secureLogo = $meta_data['Cart3 Secure Logo']}>

                    <div class="comodo__seal">
                        <{if is_object($secureLogo) and $secureLogo->getValue()}>
                        <img src="<{$smarty.session.centre_asset_host}>/web_images/metadata/<{$secureLogo->getValue()}>" alt="Secure Checkout">
                        <{/if}>
                    </div>

                    <div class="content__card ">

                        <div class="content__order__status">
                            <div class="status__items">
                                <div class="item__copy">
                                    Items (<{$cart3->countItems()}>)
                                </div>
                                <div class="coredna-subtotal item__copy">
                                    $<{$cart3->getSubTotal()|number_format:2}>
                                </div>
                                <div class="item__copy">
                                    Postage
                                </div>
                                <div class="item__copy">
                                    <{if $cart3->getShippingTotal()}>
                                    <span class="coredna-delivery" id="postage-amount">$<{$cart3->getShippingTotal()|number_format:2}></span>
                                    <{else}>
                                    <span class="coredna-delivery" id="postage-amount">Free</span>
                                    <{/if}>
                                </div>
                                <div class="item__copy">
                                    Tax
                                </div>
                                <div class="item__copy">
                                    <span id="cart-tax" class="coredna-tax">$<{$cart3->getTax()|number_format:2}></span>
                                </div>
                                <div class="item__copy voucher-item active <{if $cart3->getDiscountTotal()}>active-discount<{/if}>">
                                    <div class="voucher__wrap">Discount</div>
                                </div>
                                <div class="item__copy voucher-item active <{if $cart3->getDiscountTotal()}>active-discount<{/if}>">
                                    <div class="voucher__wrap">-<span class="coredna-discount" id="payment-discount">$<{$cart3->getDiscountTotal()|number_format:2}></span></div>
                                </div>
                            </div>
                            <div class="status__total">
                                <div class="item__copy total__copy">
                                    Order Total
                                </div>
                                <div class="coredna-total item__copy total__copy" id="cart-delivery-total">
                                    $<{$cart3->getTotal()|number_format:2}>
                                </div>
                            </div>
                        </div>

                        <button class="cta form-submit coredna-submit form__submit" disabled type="submit">Continue to Payment</button>

                    </div>

                    <div class="sidebar__links">
                        <div class="help__cta">

                            <{if !$meta_data}>
                            <{show_block module='centres' block='get_meta_data'
                            templateName="_blank"}>
                            <{/if}>
                            <{$chatHtml = $meta_data['Cart3 Chat Link']}>

                            <{if is_object($chatHtml) and $chatHtml->getValue()}>

                            <a href="<{$chatHtml->getValue()}>" target="_blank" class="" title="Help">
                                <i class="fa fa-comment-o"></i>
                                <span>Help</span>
                            </a>
                            <{/if}>

                        </div>
                    </div>

                </div>

            </aside>

            </form>

        </div>

    </div>

    <{/block}>
