@import "~seek-style-guide/theme";

.headerBlock {
  background: $dna-black;
}

.fixedHeaderBlock {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logoLink {
  display: inline-block;
  position: relative;
  left: -4px;
}

.logo {
  width: 89px;
  height: 31px;
  position: relative;
  top: 3px;
  margin-bottom: 3px;
}

.title {
  @include headingText();

  text-transform: lowercase;
  position: absolute;
  color: $dna-white;
  text-decoration: none;
  top: -4px;
  left: 97px;
  width: 150px;
}

.sectionContent {
  position: relative;
}

.hamburger {
  position: absolute;
  right: 0;
  top: 4px;
}

.hamburgerText {
  overflow: hidden;
  width: 0;
  height: 0;
  text-indent: 999px;
  position: absolute;
}

.checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.bars {
  display: block;
  cursor: pointer;
  width: $grid-gutter-width * 2;
  height: ($grid-row-height * 3) + 1;
  position: relative;
  transform-origin: 100% 50%;
  transform: scale(0.7);
}

$barHeight: 6px;
@mixin bar() {
  height: $barHeight;
  width: 100%;
  background: $dna-white;
  position: absolute;
  transition: all 0.1s ease;
}

.bar1 {
  @include bar();
  top: 0;
  .checkbox:checked ~ .bars & {
    transform: translateY(11px) rotate(45deg);
  }
}

.bar2 {
  @include bar();
  top: 50%;
  margin-top: $barHeight * -0.5;
  .checkbox:checked ~ .bars & {
    opacity: 0;
  }
}

.bar3 {
  @include bar();
  bottom: 0;
  .checkbox:checked ~ .bars & {
    transform: translateY(-11px) rotate(-45deg);
  }
}

.menu {
  background: $dna-blue;
  color: $dna-white;
  position: fixed;
  z-index: 10;
  top: $grid-row-height * 8;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: $grid-row-height * 10;
  overflow: auto;
  display: none;

  .checkbox:checked ~ & {
    display: block;
  }
}

.link {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-bottom: $grid-row-height;
  &:hover {
    box-shadow: inset 0 -2px 0 $dna-white;
  }
}
