@import "../../theme";

$suggestionContainerRowsOffset: 6;
$suggestionFieldHeightInRows: 5;

$sectionTitleHeight: $grid-row-height * 4;
$containerHeight: $touchableTextHeight + $sectionTitleHeight;

.container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.containerOpen {
  z-index: $z-index-page-overlay;
}

.suggestionsContainer {
  display: none;
  position: absolute;
  background-color: $dna-white;
  box-shadow: 0 9px 30px rgba(0, 0, 0, 0.4);
  padding: $grid-row-height 0;
  border-radius: 2px;
  min-width: 100%;
  max-width: 100%;
  max-height: 385px;
  overflow-y: auto;
  top: $grid-row-height * $suggestionContainerRowsOffset;

  @media #{$mobile} {
    max-height: "calc(100vh - #{$containerHeight})";
  };
}

.suggestionsContainerOpen {
  display: block;
}

.suggestionsContainer_withLabel {
  $labelRowOffset: 4;
  top: $grid-row-height * ($suggestionContainerRowsOffset + $labelRowOffset);
  @media #{$desktop} {
    $labelRowOffset: 3;
    top: $grid-row-height * ($suggestionContainerRowsOffset + $labelRowOffset);
  }
}

.sectionTitle {
  @include rawText(1);
  line-height: $sectionTitleHeight;
  height: $sectionTitleHeight;
  margin: $grid-row-height ($grid-gutter-width * 0.75) 0;
  color: darken($dna-highlight, 10%);
  font-weight: $dna-bold;

  .sectionContainer:first-child & {
    margin-top: 0;
  }
}

.suggestion {
  @include rawText();
  line-height: ($grid-row-height * $suggestionFieldHeightInRows);
  height: ($grid-row-height * $suggestionFieldHeightInRows);
  padding: 0 ($grid-gutter-width * 0.75);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.suggestionHighlighted {
  background-color: $dna-mid-gray-light;
}

.autosuggestBackdrop {
  visibility: hidden;
  @include transparentBackdrop();
}

.containerOpen + .autosuggestBackdrop {
  visibility: visible;

  &.backdrop_isMobile {
    @media #{$mobile} {
      @include backdrop();
    };
  }
}

.containerOpen .isLabelCoveredWithBackdrop {
  display: block;
  pointer-events: none;
}
