//$color-primary:#203d73;
//$color-secondary:#e5006d;
//$color-secondary-dark:#c4005e;
//
//$color-blue:#617182;
//$color-light-blue:#1D9EDE;
//$color-camo:#b0ada3;
//$color-green:#65785d;
//$color-aqua:#00A5AD;
//
//
//$color-font:#415456;
//$color-slate: #6e7d8b;
//
//$color-grey-med: #545454;
//$color-border: #DCDCDC;
//$color-grey-chevron: #BABABA;
//$color-grey-light2: #F7F7F7;
//$color-grey-dim: #747474;
//$color-grey-swan: #B8B8B8;
//$color-blue-bg: #009FD4;
//$color-grey-text: #4B4B4B;
//$color-grey-hover: #F5F5F5;
//
//$color-teal: #00AAB2; // Kristeene Phelan
//$color-grey-dark:#404040; // Lisa Wlker
//$color-grey-light: #a8a8a8; // Eaon Pritchard
//$color-grey:#898989; // Anel
//$color-blue-dark:#3F51B5; // advice and tips
//$color-purple:#9556B7; //Didiet
//$color-purple-dark: #5C2261;
//$color-facebook: #3957A1;
//$color-twitter: #40A4DF;
//$color-border-dark: #E9E9E9;