@import "../../../theme";

.root {
  position: relative;
}

.input {
  @include touchableText();
  display: block;
  width: 100%;
  height: $grid-row-height * 5;
  padding: 0 $field-gutter-width;
  background: $dna-white;
  border: $field-border-width solid $dna-mid-gray-light;
  border-radius: $field-border-radius;
  color: $dna-charcoal;
  background-color: $dna-white;
  appearance: none;

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator,
  &::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
  }

  .invalid & {
    border-color: transparent;
    box-shadow: 0 0 0 $field-border-width $dna-pink;
  }

  &:not([readonly]):not([disabled]):focus {
    outline: none;
    border-color: transparent;
    @include focus();
  }
}

.chevron {
  position: absolute;
  right: 0;
  overflow: hidden;
  height: ($interaction-type-row-span * $grid-row-height);
  border: 0;
  padding: 0 $field-gutter-width;
  background-color: transparent;
  color: $dna-mid-gray;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.chevronSvg {
  height: 16px;
  width: 16px;
}
