@import "~seek-style-guide/theme";

$size: ($interaction-type-row-span * $grid-row-height);

.root {
  text-align: center;
  margin: ($grid-row-height * 5) 0;
}

.github {
  height: $size;
  width: $size;
}

.link {
  display: inline-block;
  height: 245px;
  color: $dna-red;
  opacity: 1;
  font-size: 20px;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.9;
  }
}
